<div class="container info-container">
  <div class="info-group">
    <h1><b>smurl.xyz</b></h1>
  </div>
  <div class="info-group">
    <p>
      smurl is a simple URL shortener that allows users to shorten or
      encapsulate URLs. Currently, the system is simple and straight to the
      point but with time the system will become more advanced and provide more
      features. smurl uses a first come first served slug system where once a
      slug is obtained, it is registered forever. However, a pruning system is
      in the works that will delete unused smurls after a set amount of days.
    </p>
  </div>
  <div class="info-group">
    <div class="row">
      <div class="col">
        <h3>Planned Features</h3>
        <ul>
          <li>Contact</li>
          <li>Slug Checker</li>
          <li>smurl Updater</li>
          <li>Pruning System</li>
          <li>User Accounts</li>
          <li>Analytics Dashboard</li>
          <li>Expiration Dates</li>
          <li>Password Protected smurls</li>
          <li>smurl key whitelist</li>
        </ul>
      </div>
      <div class="col">
        <h3>Tecnology Stack</h3>
        <ul>
          <li>Microservice Architecture</li>
          <li>Angular</li>
          <li>ASP.NET Core</li>
          <li>Dapper ORM</li>
          <li>Nginx</li>
          <li>Docker</li>
          <li>Kubernetes</li>
        </ul>
      </div>
    </div>
  </div>
</div>
